#parent {
-webkit-box-align:center;
-webkit-box-pack:center;
display:-webkit-box;
}

#wrapper {
	position: relative;
	width: 500px;
	height: 1100px;
}

#dot_container { 
  height: 5em;	
  width: 30em;
	margin: 0 auto;	
	padding-top: 2em;
}

ul {
	list-style: none;
	display: inline;
}

li { 
	display: inline;
}

div[id*="message"]  {
	display:block;
	text-align: center;
}

img[id*="dot"] {
  width: 3.75em;
	margin: 0 auto;	
	padding-right: 1.25em;
	border-style: none; 
	z-index: 1	
}

#logo_container { 
  width: 25em;
	margin: 0 auto;
}

#logo { 
  width: 25em;
	margin: 0 auto;	
	z-index: 0;	
}

#button_container {
  width: 4em;	
	margin: 0 auto;
	padding: 1em;	
}

button {
  width: 5em;	
	margin: 0 auto;
}

#canvas_container { 
  width: 25em;
  margin: 0px auto;	
}

#new_canvas_container { 
  width: 25em;
  margin: 0px auto;	
}

/*
#canvas { 
  width: 50em;
	margin: 0 auto;	
}
*/

.no-copy {
  -webkit-user-select: none;
}